@page "/"

    <MudGrid>
        <MudContainer>
    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="7">
            <MudCard>
                <MudCardContent>
                    <MudGrid>
                        <MudItem>
                            <MudAvatar Size="Size.Large" Color="Color.Primary" Class="ma-2" Image="_content/MudBlazor.Docs/images/mony.png">A</MudAvatar>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.h5">Old Paint</MudText>
                            <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="7">
            <MudCard>
                <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    </MudContainer>
    </MudGrid>

    <AuthorizeView>
        <Authorized>
            <h1>Hello @context.User.Identity.Name !!</h1>

            <p>Welcome to your new app.</p>

            <SurveyPrompt Title="How is Blazor working for you?" />
        </Authorized>
        <Authorizing>
            <h1>Loading ...</h1>
        </Authorizing>
        <NotAuthorized>
            <h1>Hello Anonymous !!</h1>

            <p>Welcome to your new app.</p>

            <SurveyPrompt Title="How is Blazor working for you?" />
        </NotAuthorized>
    </AuthorizeView>
